[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/aiekick/imgui.git
	branch = tables_merged_in_docking
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw
	branch = master
[submodule "3rdparty/glad"]
	path = 3rdparty/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
[submodule "3rdparty/dirent"]
	path = 3rdparty/dirent
	url = https://github.com/tronkko/dirent.git
	branch = v1.23
[submodule "3rdparty/sfntly"]
	path = 3rdparty/sfntly
	url = https://github.com/aiekick/sfntly.git
	branch = master
[submodule "3rdparty/tinyxml2"]
	path = 3rdparty/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
	branch = master
[submodule "3rdparty/ImGuiFileDialog"]
	path = 3rdparty/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
	branch = detail_view_mode
[submodule "3rdparty/ctools"]
	path = 3rdparty/ctools
	url = https://github.com/aiekick/cTools.git
	branch = master
